$font-primary: "Montserrat", "Arial", sans-serif;

$color-base-white: #ffffff;
$color-base-black: #333333;
$color-base-grey: #bdbdbd;
$color-base-primary: #7859cf;
$color-base-secondary: #f0ebff;
$color-bg-light: #f8f8f8;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
