$font-primary: "Montserrat", "Arial", sans-serif;

$color-base-white: #ffffff;
$color-base-black: #333333;
$color-base-dark: #333333;
$color-base-grey: #bdbdbd;
$color-base-light-grey: #e2e2e2;
$color-base-primary: #7859cf;
$color-primary-lighter: #9070ec;
$color-primary-darker: #593cac;
$color-base-secondary: #f0ebff;
$color-bg-flat-white: #f3ebe1;
$color-bg-light: #f8f8f8;
$color-bg-grey: #f8f8f8;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
