.filter {
  display: grid;
  gap: 24px;
}

.filter__group {
  margin: 0;
  padding: 0;
  border: 0;
}

.filter__title {
  margin-bottom: 20px;
  font-weight: 600;
}

.filter__buttons {
  display: grid;
  gap: 20px;
}
