.section-label {
  margin: 0 0 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.48px;
  color: $color-base-primary;
  text-align: center;
  text-transform: uppercase;
}
