.user-nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-nav__link {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
}

.user-nav__link::before {
  position: absolute;
  top: 22px;
  left: 22px;
  width: 16px;
  height: 16px;
  background-color: $color-base-black;
  content: "";
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 16px 16px;
}

.user-nav__link--login::before {
  mask-image: url("../../icons/navigation/user.svg");
}

.user-nav__link--cart::before {
  mask-image: url("../../icons/navigation/cart.svg");
}

.user-nav__text {
  display: none;
}

@media (min-width: $tablet-width) {
  .user-nav__link {
    width: 60px;
    height: 80px;
  }

  .user-nav__link::before {
    top: 32px;
  }
}
